/* shared styles */
.inter-style {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn{
font-weight: 700;
    font-size: 16px;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    height: 48px;
    width: 132px;
    color: #FFFFFF;
}
.black{
    color: #252432;
}
.blue{
    color: #4E47FF;
}
/* header styles */
/* navigation styles */
header{
    background-image: url('/styles/Assets/Hero-bg.png');
}
.navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 89vw;
}
.navbar nav h3{
    font-weight: 900;
    font-size: 34px;
}
.navbar nav button{
    height: 48px;
    width: 132px;
}
/* banner styles */
.banner{
    text-align: center;
    height: 33%;
    width: 77vw;
    margin: 150px auto;
    padding-bottom: 150px;
}
.banner-heading {
    font-weight: 700;
    font-size: 65px;
}
.banner button{
    width: 174px;
    align-items: center;
}
 /* main styles */
 /* action styles */
.action{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 89vw;
    gap: auto;
}
.left{
    width: 45%;
}
.title{
    font-weight: 700;
    font-size: 42px;
}
.subtitle{
    color: #2524324e;
    font-weight: 400;
    font-size: 24px;
}

.action button{
    width: 229px;
}
.image img{
     border: none;
     border-radius: 48px;
}
/* productive-users styles */
.productive-active-user{
    align-items: center;
    width: 89vw;
    background-color: #4d47ff18;
    border: none;
    border-radius: 48px;
    margin:116px auto;
}
data-with-subtitle{
    justify-content:space-evenly;
}
.user-title{
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    padding-top:50px;
}
.data-with-subtitle{
    display: flex;
    justify-content: space-around;
}
.data{
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 0;
}
.sub-title{
    font-weight: 400px;
    font-size: 20px;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 50px;
}
/* users feedback section */
.card{
    display: flex;
    justify-content: space-around;   
    width: 89vw;
    margin: 0 auto;
}
.card1 , .card2 , .card3{
    border-radius: 14px;
    border: 2px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25%;
    padding: 10px;
}
.users-feedback h1{
    font-weight: 700;
    font-size: 42px;
    text-align: center;
}
.user{
    display: flex;
    align-items: center;
}
.card-title{
    font-weight: 600;
    font-size: 24px;
}
.pic{
    gap: 5px;
    padding-right: 8px;
}
.user-des{
margin-bottom: 0px;
height: 70%;


}
.card img{
    border-radius: 50%;
}
.user-des p{
    color: #2524324e;
}
