/* shared styles */
.inter-style {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn{
font-weight: 700;
    font-size: 16px;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    height: 48px;
    width: 132px;
    color: #FFFFFF;
    transition: all 0.5s;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
button :after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover  {
  padding-right: 25px;
}
button:hover{
    cursor: pointer;
     opacity: 1;
     right: 0;
}
.black{
    color: #252432;
}
.blue{
    color: #4E47FF;
}
/* header styles */
/* navigation styles */

header{
    
    background-image: url('/styles/Assets/Hero-bg.png');
    padding: 10px;
    height: 100vh;

}

.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 89vw;
}
.navbar nav a{
    font-weight: 900;
    color: #4E47FF;
    font-size: 34px;
    text-decoration: none;
}
.navbar nav button{
    height: 48px;
    width: 132px;
}
/* banner styles */
.banner{
    text-align: center;
    height: 33%;
    width: 77vw;
    margin: 80px auto;
    padding-bottom: 30px;
}
.banner-heading {
    font-weight: 700;
    font-size: 65px;
}
.banner button{
    width: 174px;
    align-items: center;
}
 /* main styles */
 main{
    background-color: #4d47ff0a;
 }
 /* action styles */
.action{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 89vw;
    gap: auto;
    align-items: center;
    padding-top: 80px;
}
.left{
    width: 45%;
}
.title{
    font-weight: 700;
    font-size: 42px;
}
.subtitle{
    color: #2524324e;
    font-weight: 400;
    font-size: 24px;
}

.action button{
    width: 229px;
}
.image img{
     border: none;
     border-radius: 48px;
}
/* productive-users styles */
.productive-active-user{
    align-items: center;
    width: 89vw;
    background-color: #4d47ff18;
    border: none;
    border-radius: 48px;
    margin:116px auto;
}
data-with-subtitle{
    justify-content:space-evenly;
}
.user-title{
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    padding-top:50px;
}
.data-with-subtitle{
    display: flex;
    justify-content: space-around;
}
.data{
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 0;
}
.sub-title{
    font-weight: 400px;
    font-size: 20px;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 50px;
}
/* users feedback section */
.users-feedback{
    width: 89vw;
    margin: 0 auto;
}
.card{
    display: flex;
    justify-content: space-around;   
    width: 89vw;
    margin: 0 auto;
}
.card1 , .card2 , .card3{
    border-radius: 14px;
    border: 2px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25%;
    padding: 10px;
}
.users-feedback h1{
    font-weight: 700;
    font-size: 42px;
    text-align: center;
}
.user{
    display: flex;
    align-items: center;
}
.card-title{
    font-weight: 600;
    font-size: 24px;
}
.pic{
    gap: 5px;
    padding-right: 8px;
}
.user-des{
margin-bottom: 0px;
height: 70%;


}
.card img{
    border-radius: 50%;
}
.user-des p{
    color: #2524324e;
}
.focus{
    margin: 0 auto;
    width: 89vw;
    background-color:#ffffff87;
    text-align: center;
    border: 1px;
    border-radius: 48px;
    padding-bottom: 30px;
    padding-top: 71px;
}
.focus-image img{
    border-radius: 48px;
    width: 74%;
}
.focus-des h1{
    font-weight: 700;
    font-size: 50px;
}
.focus-des h6{
    font-weight: 400;
    font-size: 16px;
    color:#2524324e;
}
.focus-des button{
    width: 193px;
}
/* form section */
.contact{
    display: flex;
    margin: 0 auto;
    width: 89vw;
    justify-content: space-between;
    padding: auto;
    border-radius: 48px;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 71px;
}
.text{
     width: 50%;
}
.text h2{
    font-weight: 700;
    font-size: 97px; 
}
.form h3{
    font-weight: 500;
    font-size: 18px;
}
.form{
    width: 30%;
    border:none;
}
.form input{
    height: 40px;
    background-color:#ffffff87 ;
    border: 1px solid #25243211;
    border-radius: 10px;
    padding-left: 10px;
    width: 100%;
}
.form textarea{
    height: 135px;
    background-color: #ffffff87;
    border: 1px solid #25243211;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 15px;
    width: 100%;
}
.form button{
    width: 100%;
    font-weight: 700;
    font-size: 16px;
}
/* footer styles */
footer div{
    text-align: center;
    width: 37vw;
    margin: 0 auto;
    padding-top: 104px;
    padding-bottom: 103px;
}
footer div p{
    width: 100%;
}
footer ul li a{
    margin-right: 10%;
    width: 100%;
}
nav ul li{
    display: inline;
    gap: 10px;
}
nav li a, p{
    text-decoration: none;
    color: #8987A1;
}
footer .name{
    font-weight: 900;
    font-size: 100px;
    text-decoration: none;
}
